<form class="crud" action="/admin" method="POST" enctype="multipart/form-data">  
    <div><h3>Episodio</h3> </div>     
    <div><label for="titoloEpisodio">titolo: </label><input id="titoloEpisodio" type="text" name="titolo" required/></div>
    <div><label for="numeroEpisodio">num: </label><input id="numeroEpisodio" type="number" name="numero" required/></div>
    <div>
        <label for="programmaEpisodio">Programma: </label>
        <select id="programmaEpisodio" name="programma">
            <option value="0">nessun programma</option>
            <#list programmi as p>
            <option value=${p.key}>${p.nome}</option>
            </#list>
        </select>
    </div>
    <div><label for="numeroStagioneEpisodio">Stagione: </label> <input id="numeroStagioneEpisodio" type="number" name="numeroStagione" required/></div>
    <input type="submit" name="form" value="episodio"/>
</form>