<div class="profile">

    <div class="profileHeader"><h2>${user.email}</h2></div>

    <div class="settingsProfilo">

        <div>
            <form name="preferenzaMail" action="/profilo" method="POST">
                <#if user.preferenzaMail==false>
                <input type="hidden" name="setPreferenzaMail" value="1" >
                <input type="submit"  value="abilita la mail">
                <#else>
                <input type="hidden" name="setPreferenzaMail" value="0" >
                <input type="submit"  value="disabilita la mail">
                </#if>
            </form>
        </div>
        <div>
            <#if user.ricerca??>
            <form name="ricerca" action="/profilo" method="POST">
                <input type="hidden" name="rmRicerca" value="1" >
                <input type="submit"  value="rimuovi la ricerca salvata">
            </form>
            <#else>
            <p>non hai ricerche salvate, effettuane una e spunta la casella "salva la ricerca" </p>
            </#if>
        </div>
        <div>
            <#if user.preferenza??>

            <form name="preferenza" action="/profilo" method="POST">
                <input type="hidden" name="rmPreferenza" value="1" >
                <input type="submit"  value="rimuovi la preferenza salvata">
            </form>

            <#else>
            <p>non hai preferenze salvate, creane una per ricevere una mail giornaliera" </p>
            </#if>
        </div>


    </div>

    <div class="setPreferenza">
        <form>
            <div class="canaliPreferenza">
                <#list canali as c>
                <div >
                    <strong>
                        ${c.nome} 
                    </strong>
                    <input type="checkbox" name="canali" value="${c.key}"/>
                </div>
                </#list>
            </div>
            <div>
                <label for="fascia1">fascia: </label>
                <select id="fascia1" name="fascia">
                    <option value="0">nesuna fascia</option>
                    <#list fasce as f>
                    <option value=${f.key}>${f.fascia}</option>
                    </#list>
                </select>
            </div>

            <div><input type="submit"  value="salva preferenza mail"></div>
        </form>
    </div>


</div>